@model  storemanagement.Models.DAO.Shop

@{
    ViewBag.Title = "Stationary";
}



<div class="container">

    <div class="col-md-3">
        <h2>Category</h2>
        @foreach (var item in Model.categoryList)
        {
            <ul>
                <li> @Html.DisplayFor(modelItem => item.Name)</li>

            </ul>
        }
    </div>
    <div class="col-md-9">
        <h2>Items</h2>
        <table class="table">
            @foreach (var item in Model.productList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.item_code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a href="#" class="incrproduct" data-id="@item.Id">+</a>
                        <a href="#" class="decrproduct" data-id="@item.Id">-</a>
                        <a href="#" class="removeprod" data-id="@item.Id">Remove</a>
                    </td>
                    <td class="qty@(item.Id)">
                      0
                    </td>

                    <td>
                        <button onclick="return addToCart({id: @item.Id})">Order</button>
                    </td>

                </tr>

            }
        </table>

    </div>

</div>
@section scripts {
    <script>
        function addToCart(product) {
            var url = "/cart/AddToCart";
            $.get(url,
                { id: product.id },
                function (data) {
                    $(".ajaxCart").html(data);
                }).done(function () {
                    //addshits
                });
        }
    </script>

}
