@model storemanagement.Models.DTO.ListOfRequest

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Requested Date</th>
        <th>Requester</th>
        <th>Remarks</th>
        <th>Department</th>
        <th>Status</th>
    </tr>

@foreach (var item in Model.request) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.createdAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
    </tr>
}

</table>
