@model IEnumerable<storemanagement.Models.RequestItem>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.item_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request.remarks)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productCat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.item_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Request.remarks)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ItemRequestId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ItemRequestId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ItemRequestId })
                </td>
            </tr>
        }
}


</table>
